{
  "swagger" : "2.0",
  "info" : {
    "title" : "Regression Testing-29-May-6",
    "description" : "Swagger Documentation for Regression Testing-29-May",
    "version" : "v1.0.0",
    "termsOfService" : "",
    "contact" : {
      "name" : "vidya",
      "url" : "https://design-stage.apiwiz.io/develop/oas2/swagger/6da7613dbe794723be972853fd5ec025/overview",
      "email" : "vidya.r@apiwiz.com"
    }
  },
  "paths" : {
    "/Docv1" : {
      "parameters" : [ {
        "name" : "Docv1",
        "in" : "header",
        "required" : false,
        "description" : "",
        "type" : "string"
      } ],
      "x-description" : "Docv1",
      "get" : {
        "summary" : "Docv1",
        "description" : "Docv1",
        "parameters" : [ ],
        "operationId" : "Docv1",
        "responses" : {
          "200" : {
            "description" : ""
          }
        },
        "tags" : [ "tagv6" ],
        "x-targetBasepath" : "/v4"
      }
    }
  },
  "schemes" : [ "https", "http" ],
  "x-servers" : [ ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "tags" : [ {
    "name" : "tagv6",
    "description" : "tagv1"
  } ],
  "basePath" : "/swagger/v10",
  "host" : "mock.apiwiz.io",
  "definitions" : {
    "ModelResp" : {
      "type" : "object",
      "example" : "{\"$id\":\"https://example.com/person.schema.json\",\"$schema\":\"https://json-schema.org/draft/2020-12/schema\",\"title\":\"Person\",\"type\":\"object\",\"properties\":{\"firstName\":{\"type\":\"string\",\"description\":\"The person's first name.\"},\"lastName\":{\"type\":\"string\",\"description\":\"The person's last name.\"},\"age\":{\"description\":\"Age in years which must be equal to or greater than zero.\",\"type\":\"integer\",\"minimum\":0}}}",
      "properties" : {
        "$id" : {
          "type" : "string",
          "example" : "https://example.com/person.schema.json"
        },
        "$schema" : {
          "type" : "string",
          "example" : "https://json-schema.org/draft/2020-12/schema"
        },
        "title" : {
          "type" : "string",
          "example" : "Person"
        },
        "type" : {
          "type" : "string",
          "example" : "object"
        },
        "properties" : {
          "type" : "object",
          "example" : "{\"firstName\":{\"type\":\"string\",\"description\":\"The person's first name.\"},\"lastName\":{\"type\":\"string\",\"description\":\"The person's last name.\"},\"age\":{\"description\":\"Age in years which must be equal to or greater than zero.\",\"type\":\"integer\",\"minimum\":0}}",
          "properties" : {
            "firstName" : {
              "type" : "object",
              "example" : "{\"type\":\"string\",\"description\":\"The person's first name.\"}",
              "properties" : {
                "type" : {
                  "type" : "string",
                  "example" : "string"
                },
                "description" : {
                  "type" : "string",
                  "example" : "The person's first name."
                }
              }
            },
            "lastName" : {
              "type" : "object",
              "example" : "{\"type\":\"string\",\"description\":\"The person's last name.\"}",
              "properties" : {
                "type" : {
                  "type" : "string",
                  "example" : "string"
                },
                "description" : {
                  "type" : "string",
                  "example" : "The person's last name."
                }
              }
            },
            "age" : {
              "type" : "object",
              "example" : "{\"description\":\"Age in years which must be equal to or greater than zero.\",\"type\":\"integer\",\"minimum\":0}",
              "properties" : {
                "description" : {
                  "type" : "string",
                  "example" : "Age in years which must be equal to or greater than zero."
                },
                "type" : {
                  "type" : "string",
                  "example" : "integer"
                },
                "minimum" : {
                  "type" : "number",
                  "example" : "0"
                }
              }
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : { },
  "parameters" : {
    "p2" : {
      "name" : "p2",
      "in" : "query",
      "required" : false,
      "type" : "string",
      "x-newAdded" : true
    }
  },
  "x-mock" : true,
  "x-metadata" : {
    "metadata" : {
      "swaggerName" : "1fe7a485c78e4381b1add7e57f2bc16f",
      "revision" : 1,
      "documentation" : [ {
        "title" : "Docv1",
        "summary" : "Docv1",
        "content" : "Docv1"
      } ],
      "category" : [ {
        "name" : "Unsorted",
        "paths" : [ "/Docv1" ],
        "definitions" : [ "ModelResp" ]
      } ],
      "models" : [ {
        "dataDictionaryId" : "63c94ef180107d2ac7061384",
        "dataDictionaryRevision" : "Revision 1",
        "dataDictionary" : "Common DataModel Store",
        "modelName" : "ModelResp",
        "modelId" : "9c2e4ee5392744d6826d621ada3a063a",
        "revision" : 1
      } ]
    }
  },
  "responses" : {
    "p5" : {
      "description" : "",
      "x-index" : 1,
      "headers" : {
        "headerName1" : {
          "x-index" : 1,
          "description" : "",
          "type" : "string"
        }
      }
    }
  }
}